*{
    margin: 0%;
    padding: 0;
}
body{
    min-height:200vh;
    background-size: cover;  
    background-color: rgba(255, 228, 196, 0.704);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0, 1);
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 50px;
}
nav ul li img{
    width: 100%;
    height: 100%;
    margin-left: 80%;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display:flex;
    align-items: center;
    color: black;
}
nav a:hover{
    background-color:rosybrown;
}
nav li:first-child{
    margin-right: auto;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    display: none;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    background-color: darkgrey;
    background-size: 1%;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}
.sidebar{
    width:  100%;
}
.menu-button{
    display: none;
}
.heading{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}
.heading h1{
    font-size: 50px;
    color: #0a0a0a;
    margin-bottom: 25px;
    position: relative;
}
.heading h1::after{
    content:"";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
}
.heading p{
    font-size:  18px;
    color: black;
    margin-bottom: 35px;
}
.container{
    width: 90%;
    margin:0 auto;
    padding:10px 20px;
}
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;  
}
.about-image{
    flex: 1;
    width: 50%;
    overflow: hidden;
}
.about-image:hover img{
    transform: scale(1.2);
}
.about-image img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}


.about-content h2{
    font-size: 23px;
    margin-bottom: 15px;
    color: black;
}
.about-content p{
    font-size: 18px;
    line-height: 1.5;
    color: black;
}
.about-content.read-more{
    display: inline-block;
    padding:10px 20px;
    color: black;
    font-size: 19px;
    text-decoration: 19px;
    border-radius: 25px;
    margin-top: 15;
    transition: 0.3s ease;
}
.about-content .read-more:hover{
    background-color: black;
}
h5{
    font-size: 150%;
    text-align: center;
    padding: 1%;
    background-color: rgb(243, 169, 84);
}
table{
    margin:25px auto;
    font-size: 100%;
    letter-spacing: 1;
    color: black;; 
    text-align: center;
    margin-left: 5% ; 
    margin-right: 2%;;
}
table thead tr td img{
    width: 50%;
    border-radius: 50%;
    margin-left: 5% ;
    margin-bottom: 8%; 
    margin-top: 4%;
}
td{
    margin-top: 5%;
}
.contact{
    padding: 1%;
    background-color: white;
    text-align: center;
}
@media screen and (max-width:600px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}
@media screen and (min-width:600px) and (max-width:768px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}
@media screen and (min-width:768px){
    .sidebar{
        width:  100%;
    }
}